openapi: 3.2.0
info:
  title: Sportradar Sports Data Statistics API
  description: Sportradar's Sports Data API provides comprehensive access to real-time and historical sports data covering 80+ sports and 500+ leagues worldwide. The API delivers scores, statistics, standings, schedules, play-by-play data, and odds information for media companies, sportsbooks, fantasy sports platforms, and sports technology applications. All endpoints require an API key passed as a query parameter. Data is available in JSON and XML formats.
  version: v1
  contact:
    name: Sportradar Developer Support
    url: https://developer.sportradar.com/docs/read/Home#support
  termsOfService: https://sportradar.com/terms/
servers:
- url: https://api.sportradar.com
  description: Sportradar API Production Server
security:
- apiKey: []
tags:
- name: Statistics
  description: Team and player performance statistics across competitions and seasons.
paths:
  /soccer-t3/trial/v4/en/competitions/{competition_id}/info.json:
    get:
      operationId: getSoccerCompetitionInfo
      summary: Get Soccer Competition Info
      description: Returns detailed information about a soccer competition including category, sport, coverage information, and available seasons.
      tags:
      - Statistics
      parameters:
      - name: competition_id
        in: path
        required: true
        description: The unique identifier for the competition (e.g., sr:competition:17 for Premier League).
        schema:
          type: string
      - $ref: '#/components/parameters/apiKeyParam'
      responses:
        '200':
          description: Successful response containing competition information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competition'
        '401':
          description: Unauthorized - invalid or missing API key.
        '404':
          description: Competition not found.
        '429':
          description: Rate limit exceeded.
components:
  schemas:
    Competition:
      type: object
      description: Soccer competition information.
      properties:
        id:
          type: string
          description: Unique Sportradar competition identifier (e.g., sr:competition:17).
        name:
          type: string
          description: Competition name (e.g., Premier League).
        category:
          type: object
          description: Geographic category of the competition.
          properties:
            id:
              type: string
              description: Category identifier.
            name:
              type: string
              description: Category name (e.g., England).
  parameters:
    apiKeyParam:
      name: api_key
      in: query
      required: true
      description: Your Sportradar API key.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
      description: Sportradar API key passed as a query parameter. Obtain from the Sportradar developer portal.
externalDocs:
  description: Sportradar Developer Documentation
  url: https://developer.sportradar.com/docs/read/Home
