openapi: 3.2.0
info:
  title: Sportradar Sports Data Competitors API
  description: Sportradar's Sports Data API provides comprehensive access to real-time and historical sports data covering 80+ sports and 500+ leagues worldwide. The API delivers scores, statistics, standings, schedules, play-by-play data, and odds information for media companies, sportsbooks, fantasy sports platforms, and sports technology applications. All endpoints require an API key passed as a query parameter. Data is available in JSON and XML formats.
  version: v1
  contact:
    name: Sportradar Developer Support
    url: https://developer.sportradar.com/docs/read/Home#support
  termsOfService: https://sportradar.com/terms/
servers:
- url: https://api.sportradar.com
  description: Sportradar API Production Server
security:
- apiKey: []
tags:
- name: Competitors
  description: Team and player profiles, rosters, and biographical information.
paths:
  /nba/trial/v8/en/players/{player_id}/profile.json:
    get:
      operationId: getNbaPlayerProfile
      summary: Get NBA Player Profile
      description: Returns biographical and statistical profile information for an NBA player including career statistics, current season averages, and team history.
      tags:
      - Competitors
      parameters:
      - name: player_id
        in: path
        required: true
        description: The unique Sportradar player identifier.
        schema:
          type: string
      - $ref: '#/components/parameters/apiKeyParam'
      responses:
        '200':
          description: Successful response containing player profile data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerProfile'
        '401':
          description: Unauthorized - invalid or missing API key.
        '404':
          description: Player not found.
        '429':
          description: Rate limit exceeded.
components:
  schemas:
    TeamRef:
      type: object
      description: Reference to a team.
      properties:
        id:
          type: string
          description: Unique team identifier.
        name:
          type: string
          description: Team name.
        alias:
          type: string
          description: Team abbreviation.
    PlayerProfile:
      type: object
      description: Player biographical and statistical profile.
      properties:
        id:
          type: string
          description: Unique Sportradar player identifier.
        full_name:
          type: string
          description: Player's full name.
        position:
          type: string
          description: Player's position.
        team:
          $ref: '#/components/schemas/TeamRef'
        height:
          type: integer
          description: Player height in inches.
        weight:
          type: integer
          description: Player weight in pounds.
        birth_date:
          type: string
          format: date
          description: Player's birth date.
        experience:
          type: string
          description: Player experience level.
  parameters:
    apiKeyParam:
      name: api_key
      in: query
      required: true
      description: Your Sportradar API key.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
      description: Sportradar API key passed as a query parameter. Obtain from the Sportradar developer portal.
externalDocs:
  description: Sportradar Developer Documentation
  url: https://developer.sportradar.com/docs/read/Home
