openapi: 3.2.0
info:
  title: Sportradar Sports Data Standings API
  description: Sportradar's Sports Data API provides comprehensive access to real-time and historical sports data covering 80+ sports and 500+ leagues worldwide. The API delivers scores, statistics, standings, schedules, play-by-play data, and odds information for media companies, sportsbooks, fantasy sports platforms, and sports technology applications. All endpoints require an API key passed as a query parameter. Data is available in JSON and XML formats.
  version: v1
  contact:
    name: Sportradar Developer Support
    url: https://developer.sportradar.com/docs/read/Home#support
  termsOfService: https://sportradar.com/terms/
servers:
- url: https://api.sportradar.com
  description: Sportradar API Production Server
security:
- apiKey: []
tags:
- name: Standings
  description: League and tournament standings, rankings, and tables.
paths:
  /nba/trial/v8/en/seasons/{season_year}/REG/standings.json:
    get:
      operationId: getNbaStandings
      summary: Get NBA Standings
      description: Returns current NBA standings for the specified season, including wins, losses, win percentage, conference and division rankings.
      tags:
      - Standings
      parameters:
      - name: season_year
        in: path
        required: true
        description: The season year (e.g., 2024).
        schema:
          type: string
          example: '2024'
      - $ref: '#/components/parameters/apiKeyParam'
      responses:
        '200':
          description: Successful response containing NBA standings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Standings'
        '401':
          description: Unauthorized - invalid or missing API key.
        '429':
          description: Rate limit exceeded.
components:
  schemas:
    TeamStanding:
      type: object
      description: A team's standing within a conference.
      properties:
        id:
          type: string
          description: Team identifier.
        name:
          type: string
          description: Team name.
        wins:
          type: integer
          description: Number of wins.
        losses:
          type: integer
          description: Number of losses.
        win_pct:
          type: number
          format: float
          description: Win percentage.
        rank:
          type: integer
          description: Conference rank.
    Standings:
      type: object
      description: League standings data.
      properties:
        season:
          type: object
          description: Season metadata.
          properties:
            id:
              type: string
              description: Season identifier.
            year:
              type: integer
              description: Season year.
            type:
              type: string
              description: Season type (REG, PST, PRE).
        conferences:
          type: array
          description: List of conferences with standings.
          items:
            $ref: '#/components/schemas/ConferenceStandings'
    ConferenceStandings:
      type: object
      description: Conference-level standings.
      properties:
        id:
          type: string
          description: Conference identifier.
        name:
          type: string
          description: Conference name.
        teams:
          type: array
          description: Teams within the conference with their records.
          items:
            $ref: '#/components/schemas/TeamStanding'
  parameters:
    apiKeyParam:
      name: api_key
      in: query
      required: true
      description: Your Sportradar API key.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
      description: Sportradar API key passed as a query parameter. Obtain from the Sportradar developer portal.
externalDocs:
  description: Sportradar Developer Documentation
  url: https://developer.sportradar.com/docs/read/Home
