openapi: 3.1.0
info:
  title: Sportradar Push Feeds Competitors Schedules API
  description: Sportradar's Push Feeds deliver real-time sports data over HTTP using chunked transfer encoding. A single long-lived HTTP connection streams JSON-encoded events, statistics, clock updates, and draft activity for live games. When no new content is available, the server sends a heartbeat message every five seconds to keep the connection alive. Push Feeds are an add-on service available to Sportradar Realtime customers and are intended to complement, not replace, the RESTful Sports Data APIs. Clients must follow HTTP redirects and accept chunked transfer encoding. There are no documented limits on the number of concurrent connections.
  version: v1
  contact:
    name: Sportradar Developer Support
    url: https://developer.sportradar.com/docs/read/Home#support
  termsOfService: https://sportradar.com/terms/
servers:
- url: https://api.sportradar.com
  description: Sportradar Push Feeds Production Server
security:
- apiKey: []
tags:
- name: Schedules
  description: Retrieve daily, weekly, and seasonal schedules for sports competitions.
paths:
  /nba/trial/v8/en/games/{date}/schedule.json:
    get:
      operationId: getNbaDailySchedule
      summary: Get NBA Daily Schedule
      description: Returns the schedule of NBA games for a specific date, including game status, team matchups, venue information, and broadcast details.
      tags:
      - Schedules
      parameters:
      - name: date
        in: path
        required: true
        description: The date in YYYY/MM/DD format.
        schema:
          type: string
          example: 2024/01/15
      - $ref: '#/components/parameters/apiKeyParam'
      responses:
        '200':
          description: Successful response containing the daily schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailySchedule'
        '401':
          description: Unauthorized - invalid or missing API key.
        '429':
          description: Rate limit exceeded.
components:
  schemas:
    TeamRef:
      type: object
      description: Reference to a team.
      properties:
        id:
          type: string
          description: Unique team identifier.
        name:
          type: string
          description: Team name.
        alias:
          type: string
          description: Team abbreviation.
    Venue:
      type: object
      description: The venue where a game or match takes place.
      properties:
        id:
          type: string
          description: Unique venue identifier.
        name:
          type: string
          description: Venue name.
        city:
          type: string
          description: City where the venue is located.
        country:
          type: string
          description: Country where the venue is located.
        capacity:
          type: integer
          description: Seating capacity of the venue.
    ScheduledGame:
      type: object
      description: Basic information about a scheduled game.
      properties:
        id:
          type: string
          description: Unique Sportradar game identifier.
        status:
          type: string
          description: Game status.
        scheduled:
          type: string
          format: date-time
          description: Scheduled tip-off or kickoff time.
        home:
          $ref: '#/components/schemas/TeamRef'
        away:
          $ref: '#/components/schemas/TeamRef'
        venue:
          $ref: '#/components/schemas/Venue'
    DailySchedule:
      type: object
      description: Schedule of games for a specific date.
      properties:
        date:
          type: string
          format: date
          description: The schedule date.
        games:
          type: array
          description: List of scheduled games for the date.
          items:
            $ref: '#/components/schemas/ScheduledGame'
  parameters:
    apiKeyParam:
      name: api_key
      in: query
      required: true
      description: Your Sportradar API key.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Sportradar Push Feeds require an API key passed in the x-api-key request header. Push entitlements are tied to Realtime customer accounts.
externalDocs:
  description: Sportradar Push Feeds Documentation
  url: https://developer.sportradar.com/getting-started/docs/get-started
