openapi: 3.1.0
info:
  title: Sportradar Push Feeds Competitors Statistics API
  description: Sportradar's Push Feeds deliver real-time sports data over HTTP using chunked transfer encoding. A single long-lived HTTP connection streams JSON-encoded events, statistics, clock updates, and draft activity for live games. When no new content is available, the server sends a heartbeat message every five seconds to keep the connection alive. Push Feeds are an add-on service available to Sportradar Realtime customers and are intended to complement, not replace, the RESTful Sports Data APIs. Clients must follow HTTP redirects and accept chunked transfer encoding. There are no documented limits on the number of concurrent connections.
  version: v1
  contact:
    name: Sportradar Developer Support
    url: https://developer.sportradar.com/docs/read/Home#support
  termsOfService: https://sportradar.com/terms/
servers:
- url: https://api.sportradar.com
  description: Sportradar Push Feeds Production Server
security:
- apiKey: []
tags:
- name: Statistics
  description: Team and player performance statistics across competitions and seasons.
paths:
  /soccer-t3/trial/v4/en/competitions/{competition_id}/info.json:
    get:
      operationId: getSoccerCompetitionInfo
      summary: Get Soccer Competition Info
      description: Returns detailed information about a soccer competition including category, sport, coverage information, and available seasons.
      tags:
      - Statistics
      parameters:
      - name: competition_id
        in: path
        required: true
        description: The unique identifier for the competition (e.g., sr:competition:17 for Premier League).
        schema:
          type: string
      - $ref: '#/components/parameters/apiKeyParam'
      responses:
        '200':
          description: Successful response containing competition information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Competition'
        '401':
          description: Unauthorized - invalid or missing API key.
        '404':
          description: Competition not found.
        '429':
          description: Rate limit exceeded.
components:
  parameters:
    apiKeyParam:
      name: api_key
      in: query
      required: true
      description: Your Sportradar API key.
      schema:
        type: string
  schemas:
    Competition:
      type: object
      description: Soccer competition information.
      properties:
        id:
          type: string
          description: Unique Sportradar competition identifier (e.g., sr:competition:17).
        name:
          type: string
          description: Competition name (e.g., Premier League).
        category:
          type: object
          description: Geographic category of the competition.
          properties:
            id:
              type: string
              description: Category identifier.
            name:
              type: string
              description: Category name (e.g., England).
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Sportradar Push Feeds require an API key passed in the x-api-key request header. Push entitlements are tied to Realtime customer accounts.
externalDocs:
  description: Sportradar Push Feeds Documentation
  url: https://developer.sportradar.com/getting-started/docs/get-started
