openapi: 3.1.0
info:
  title: Sportradar Push Feeds Competitors API
  description: Sportradar's Push Feeds deliver real-time sports data over HTTP using chunked transfer encoding. A single long-lived HTTP connection streams JSON-encoded events, statistics, clock updates, and draft activity for live games. When no new content is available, the server sends a heartbeat message every five seconds to keep the connection alive. Push Feeds are an add-on service available to Sportradar Realtime customers and are intended to complement, not replace, the RESTful Sports Data APIs. Clients must follow HTTP redirects and accept chunked transfer encoding. There are no documented limits on the number of concurrent connections.
  version: v1
  contact:
    name: Sportradar Developer Support
    url: https://developer.sportradar.com/docs/read/Home#support
  termsOfService: https://sportradar.com/terms/
servers:
- url: https://api.sportradar.com
  description: Sportradar Push Feeds Production Server
security:
- apiKey: []
tags:
- name: Competitors
  description: Team and player profiles, rosters, and biographical information.
paths:
  /nba/trial/v8/en/players/{player_id}/profile.json:
    get:
      operationId: getNbaPlayerProfile
      summary: Get NBA Player Profile
      description: Returns biographical and statistical profile information for an NBA player including career statistics, current season averages, and team history.
      tags:
      - Competitors
      parameters:
      - name: player_id
        in: path
        required: true
        description: The unique Sportradar player identifier.
        schema:
          type: string
      - $ref: '#/components/parameters/apiKeyParam'
      responses:
        '200':
          description: Successful response containing player profile data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerProfile'
        '401':
          description: Unauthorized - invalid or missing API key.
        '404':
          description: Player not found.
        '429':
          description: Rate limit exceeded.
components:
  schemas:
    PlayerProfile:
      type: object
      description: Player biographical and statistical profile.
      properties:
        id:
          type: string
          description: Unique Sportradar player identifier.
        full_name:
          type: string
          description: Player's full name.
        position:
          type: string
          description: Player's position.
        team:
          $ref: '#/components/schemas/TeamRef'
        height:
          type: integer
          description: Player height in inches.
        weight:
          type: integer
          description: Player weight in pounds.
        birth_date:
          type: string
          format: date
          description: Player's birth date.
        experience:
          type: string
          description: Player experience level.
    TeamRef:
      type: object
      description: Reference to a team.
      properties:
        id:
          type: string
          description: Unique team identifier.
        name:
          type: string
          description: Team name.
        alias:
          type: string
          description: Team abbreviation.
  parameters:
    apiKeyParam:
      name: api_key
      in: query
      required: true
      description: Your Sportradar API key.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Sportradar Push Feeds require an API key passed in the x-api-key request header. Push entitlements are tied to Realtime customer accounts.
externalDocs:
  description: Sportradar Push Feeds Documentation
  url: https://developer.sportradar.com/getting-started/docs/get-started
