openapi: 3.2.0
info:
  title: Sportradar Sports Data Schedules API
  description: Sportradar's Sports Data API provides comprehensive access to real-time and historical sports data covering 80+ sports and 500+ leagues worldwide. The API delivers scores, statistics, standings, schedules, play-by-play data, and odds information for media companies, sportsbooks, fantasy sports platforms, and sports technology applications. All endpoints require an API key passed as a query parameter. Data is available in JSON and XML formats.
  version: v1
  contact:
    name: Sportradar Developer Support
    url: https://developer.sportradar.com/docs/read/Home#support
  termsOfService: https://sportradar.com/terms/
servers:
- url: https://api.sportradar.com
  description: Sportradar API Production Server
security:
- apiKey: []
tags:
- name: Schedules
  description: Retrieve daily, weekly, and seasonal schedules for sports competitions.
paths:
  /nba/trial/v8/en/games/{date}/schedule.json:
    get:
      operationId: getNbaDailySchedule
      summary: Get NBA Daily Schedule
      description: Returns the schedule of NBA games for a specific date, including game status, team matchups, venue information, and broadcast details.
      tags:
      - Schedules
      parameters:
      - name: date
        in: path
        required: true
        description: The date in YYYY/MM/DD format.
        schema:
          type: string
          example: 2024/01/15
      - $ref: '#/components/parameters/apiKeyParam'
      responses:
        '200':
          description: Successful response containing the daily schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailySchedule'
        '401':
          description: Unauthorized - invalid or missing API key.
        '429':
          description: Rate limit exceeded.
components:
  schemas:
    Venue:
      type: object
      description: The venue where a game or match takes place.
      properties:
        id:
          type: string
          description: Unique venue identifier.
        name:
          type: string
          description: Venue name.
        city:
          type: string
          description: City where the venue is located.
        country:
          type: string
          description: Country where the venue is located.
        capacity:
          type: integer
          description: Seating capacity of the venue.
    ScheduledGame:
      type: object
      description: Basic information about a scheduled game.
      properties:
        id:
          type: string
          description: Unique Sportradar game identifier.
        status:
          type: string
          description: Game status.
        scheduled:
          type: string
          format: date-time
          description: Scheduled tip-off or kickoff time.
        home:
          $ref: '#/components/schemas/TeamRef'
        away:
          $ref: '#/components/schemas/TeamRef'
        venue:
          $ref: '#/components/schemas/Venue'
    TeamRef:
      type: object
      description: Reference to a team.
      properties:
        id:
          type: string
          description: Unique team identifier.
        name:
          type: string
          description: Team name.
        alias:
          type: string
          description: Team abbreviation.
    DailySchedule:
      type: object
      description: Schedule of games for a specific date.
      properties:
        date:
          type: string
          format: date
          description: The schedule date.
        games:
          type: array
          description: List of scheduled games for the date.
          items:
            $ref: '#/components/schemas/ScheduledGame'
  parameters:
    apiKeyParam:
      name: api_key
      in: query
      required: true
      description: Your Sportradar API key.
      schema:
        type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
      description: Sportradar API key passed as a query parameter. Obtain from the Sportradar developer portal.
externalDocs:
  description: Sportradar Developer Documentation
  url: https://developer.sportradar.com/docs/read/Home
